<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Project</a>
        </li>
        <li class="breadcrumb-item active">Table</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          All Projects in the Turntabl domain</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Description</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Description</th>
                </tr>
              </tfoot>
              <tbody>
                  <tr *ngFor = "let project of projects">
                      <td>{{project.project_id}}</td>
                      <td>{{project.project_name}}</td>
                      <td>{{project.description}}</td>
                      <td><a [routerLink]="['/Projects',project.id ]">View</a></td>
                  </tr>
                <!-- <tr>
                  <td>P01</td>
                  <td>Operating System</td>
                  <td>01</td>
                  <td>2010/06/23</td>
                  <td>2011/04/25</td>
                  <td>2020/07/12</td>
                </tr>
                <tr>
                    <td>P02</td>
                    <td>Ubuntu Redo</td>
                    <td>05</td>
                    <td>2013/01/23</td>
                    <td>2015/03/25</td>
                    <td>2019/01/12</td>
                </tr>
                <tr>
                    <td>P03</td>
                    <td>Network System</td>
                    <td>01</td>
                    <td>2011/12/23</td>
                    <td>2013/04/23</td>
                    <td>2015/07/12</td>
                </tr>
                <tr>
                    <td>P04</td>
                    <td>Christmas bell ringer</td>
                    <td>03</td>
                    <td>2010/12/23</td>
                    <td>2011/04/03</td>
                    <td>2020/07/18</td>
                </tr>
                <tr>
                    <td>P05</td>
                    <td>Tick Tock</td>
                    <td>03</td>
                    <td>2010/06/23</td>
                    <td>2011/04/25</td>
                    <td>2020/07/12</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

      <p class="small text-center text-muted my-5">
        <em>More table examples coming soon...</em>
      </p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->


<!-- /#wrapper -->
