<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>.sidebar {background-color: 	#260227;}
 body{font-color: #180000;}</style>

<div>
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="index.html">WELCOME TO THE OFFICIAL TCMS PAGE!</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" [disabled]="!profileForm.valid">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" routerLink="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" routerLink="#">Action</a>
        <a class="dropdown-item" routerLink="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" routerLink="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <span class="badge badge-danger">7</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" routerLink="#">Action</a>
        <a class="dropdown-item" routerLink="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" routerLink="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" routerLink="#">Settings</a>
        <a class="dropdown-item" routerLink="#">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
      </div>
    </li>
  </ul>

</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Actions</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Client man:</h6>
        <a class="dropdown-item" routerLink="/search">Search</a>
        <a class="dropdown-item" routerLink="/register">Add new Client</a>
        <a class="dropdown-item" routerLink="/delete_client">Delete Client</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Project man:</h6>
        <a class="dropdown-item" routerLink="/404">Search</a>
        <a class="dropdown-item" routerLink="/blank">Add new Project</a>
        <a class="dropdown-item" routerLink="/delete_client">Delete Project</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Spring Charts</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/register">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Register Client</span></a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink ="/clients">
        <i class="fas fa-fw fa-table"></i>
        <span>All Clients</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">
        <i class="fas fa-fw fa-table"></i>
        <span>Projects</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/p_report">
        <i class="fas fa-fw fa-table"></i>
        <span>Project Report</span></a>
    </li>
  </ul>

  <div id="content-wrapper">

    <div class="container-fluid">
<router-outlet></router-outlet>
      <!-- Breadcrumbs-->
      <!--<ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">This is a web application for keeping track of all the clients and their corresponding projects that Turntabl is handling.</li>
      </ol>-->

      <!-- Icon Cards-->
     

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Dr. Kassy TCMS 2019</span>
        </div>
      </div>
    </footer>
    </div>
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Search" below if the client already exists.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="search.html">Search</a>
      </div>
    </div>
  </div>
</div>

</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->